*{
    margin: 0;
    padding: 0;
}


 header{
     background-color: #282828;
     width: 100%;
     height: 70%;
     padding-bottom: 4rem;
 }
header img{
    margin: 0;
     width: 4rem;
     float: left;
    padding: 2px;
    position: unset;
 }
 h1{
     position: absolute;
     padding: 3px;
     float: left;
     margin-top: 10px;
     font-family: "Alfa Slab One",cursive;
     color: #FCE181;
     margin-left: 4rem;
     font-size: 1.5rem;
 }
 .intext{
     padding-left: 3rem;
     padding-top: 4rem;
 }
ul{
    width: auto;
    float: right;
    margin-top: 8px;

 }
.voorstelling img{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 4rem;
    height: auto;
}
.voorstelling p{
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
}
.voorstelling a{
    font-size: 0.8rem;
}
.insta a{
    font-size: 1rem;
}
.insta img{
    width: 7rem;
}
.links img{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.links a{
    padding-left: 0;
}
.bla{
    display: grid;
    grid-template-columns: 20% 20% 60%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 4rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
 li {
    display: inline-block;
     padding: 15px 30px;
}
 a{
     text-align: center;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     color: white;
     font-size: 1.2vw;
 }
 p{
     font-family: 'Open Sans', sans-serif;
     color: black;
     font-size: 1.2vw;

 }
 a:hover{
     transition: 0.5s;
     color: #FCE181;
 }
.groepsfoto img{
     width: 100%;
     box-sizing: border-box;
     margin: 0;
     float: left;
    padding-left: 3rem;
    padding-top: 4rem;
    padding-right: 0;
}
.inleiding{
    display: grid;
    grid-template-columns: 40% 50%;
    width: 100%;
}
p{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    box-sizing: border-box;
}
 .Homepagina{
     margin: 0;
 }
 h2{
     padding-top: 2rem;
     padding-left: 2rem;
 }

 .voorstelling{
     margin-top: 3rem;
     margin-left: 6rem;
     border-bottom: black;
     border-bottom-style:solid ;
     border-right-style:solid ;
     border-width: thin;
 }
 .voorstelling button{
     position: relative;
     display: block;
     width: 10rem;
     margin: 0 auto;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     color: black;
     background: #FCE181;;
     border: 0;
     margin-top: 2rem;
     margin-bottom: 1rem;
     border-radius: 2rem;
 }
 .dropdown{
     position: relative;
     display: block;
     width: 10rem;
     margin: 0 auto;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     color: black;
     background: white;
     border: 0;
 }
 footer{
     padding-top: 3rem;
     color: #282828;
     text-align: center;
 }
 footer p{
     margin: 0;
     padding: 0;
     font-size: 1rem;
     font-family: Arial;
 }
 .rightinfo{
     padding-top: 3rem;
     display: grid;
     grid-template-columns: 10% 40% 50%;
     width: auto;
 }
.leftinfo{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 50% 10% 40%;
    width: auto;
}
section img{
    width: 60%;
}
h3{
    text-align: center;
   }
.insta{
    display: grid;
    grid-template-columns: 50% 40%;
    width: auto;
    padding-left: 3rem;
}
.rechts{
    display: block;
    text-align: right;
    margin-left: 8rem;
    width: 80%;
}
.links{
    text-align: left;
    margin-left: 0;
    width: 80%;
    display: block;
}
section a{
    color: #FCE181;
}
.bestellen a{
    color: black;
}
h3{
    background-color: white;
    padding-bottom: 1rem;
}
.bestellen{

}
.bestellen h2{
    padding-top: 5rem;
    text-align: center;
}
.bestellen p{
    opacity: 2;
    padding: 1rem;
    margin: 0;
    color: black;
}
iframe{
    padding: 1rem;
}
.afhalen{
    border-right-style: solid;
    padding: 0;
    margin: 0;
}
.afhalen p{
    text-align: left;
    justify-content: left;
}
.bezorgen p{
    text-align: right;
}
input, label {
    margin: 5px 5px;
}

.form-group {
    margin: 0;
    width: 450px;
    padding: 1rem;
    box-sizing: border-box;
}

.form-control {
    float: left;
}
input{
    border-radius: 0.3rem;
}
#inputHuisnummer{
    width: 15%;
}
#inputPostcode{
    width: 20%;
}
#inputLand{
    width: 25%;
}
.contacteren{
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    width: auto;
    border: cadetblue;
    border-style: solid;
    border-radius: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5%;
    margin-bottom: 0;
}
.contacteren section{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.adres{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.instagram{
    border-right: black;
    border-left: black;
    border-right-style: solid;
    border-left-style: solid;
    margin: 0;
    padding: 0;
    text-align: center;
}
.contacteren img{
    padding: 0;
    margin: 0;
    width: 30%;
}
.tekst h3{
    font-size: 3.5rem;
    padding-bottom: 3rem;
    border-bottom-style: solid;
    border-color: black;
    margin-bottom: 9rem;
}
.datum{
    font-size: 2rem;
    text-align: right;
    padding-right: 1rem;
    padding-top: 100%;
    color: #537D8D;
}
.plaats{
    display: block ruby;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 1rem;
}
.moments{
    font-size: 5rem;
    padding-bottom: 10rem;
}
.moment{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20% 80%;
}
@media screen and (min-width: 900px) {
    h1{
        font-size: 6rem;
        position: unset;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header img{
        margin: 0;
        width: 20rem;
        float: unset;
        padding: 2px;
        position: unset;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
    a.voorstelling{
        font-size: 3rem;
    }
    voorstelling p {
        font-size: 3rem;
    }
    ul{
        width: auto;
        float: unset;
        margin-top: 8px;

    }
    ul.li {
        display: inline-block;
        padding: 15px 30px;
    }
    h2{
        font-size: 4rem;
        padding-bottom: 3rem;
        font-family: 'Open Sans', sans-serif;
    }
    p{
        font-size: 3rem;
    }
    .inleiding{
        display: unset;
        width: 100%;
    }
    .dropdown{
        font-size: 3.5rem;
        width: 35rem;
        text-align: center;
    }
    .dropdown .dropdown-content .dropdown-content-list{
        width: 35rem;
    }
    .insta{
        padding-bottom: 0;
    }

    .insta img{
        width: 40rem;
    }
    .insta{
        display: block;
        margin-bottom: 6rem;
    }
    .insta div{
        padding-bottom: 5rem;
    }
    .insta a{
        font-size: 3.7rem;
    }
    .insta p{
        font-size: 4rem;
    }
    .voorstelling{
        border: unset;
        display: unset;
        padding-bottom: 5rem;
        font-size: 3.5rem;

    }
    .voorstelling button{
        width: border-box;
        width: 20rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 3rem;
     }
    form{
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .moment{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 35% 65%;
    }
    .momentimg img{
        width: 100%;
    }
    .moments{
        font-size: 5rem;
        padding-bottom: 10rem;
    }

    .tekst h3{
        font-size: 3.5rem;
        padding-bottom: 3rem;
        border-bottom-style: solid;
        border-color: black;
    }
    .datum{
        font-size: 2rem;
        text-align: right;
        padding-top: 100%;
        color: #537D8D;
    }
    .plaats{
        display: block ruby;
        font-size: 2.5rem;
        text-align: right;
    }
    .plaats img{
        width: 1.3rem;
    }
}